nav {
    padding: 1.5%;
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

nav h1 {
    color: #3f37c9;
}

nav .links {
    margin-left: auto;
}

nav a {
    margin: 14px;
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    color: #3f37c9;
    text-decoration: 2px underline;
}

nav .login {
    background-color: #3f37c9; /* Green */
    border: none;
    color: white;
    width: 14%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

nav .login:hover {
    background-color: #8a85e7;
    color: black;
}