.mainDiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.sectionbar{
    display: flex;
    width: 50%;
    margin: 5% 0%;
    justify-content: space-between;
}

.sectionbar p{
    font-size: large;
    font-weight: 700;
}

.sectionbar p:hover{
    color:#3f37c9;
    text-decoration: 2px underline ;
    cursor: pointer;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
    width: 50%;
}