.home{
    margin: auto;
    width: 70%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .papers{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home .paper{
    margin: 1% 0%;
    padding: 2% 2% 1% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #edecff;
}

.home .paperInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5%;
}

.home .left{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 1%;
}

.home .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    width: 10%;
}

.home p{
    margin: 1.5%;
}

.button{
    margin-bottom: 5%;
}

.button:hover {
    background-color: #8a85e7;
    color: black;
}

.homeBtn{
    display: flex;
    justify-content: space-between;
    width: 17%;
}

.home .save{
    width: 40%;
    cursor: pointer;
    background-color: #edecff;
    border: none;
    margin-top: 5%;
}

.home h3{
    cursor: pointer;
}

.home h3:hover{
    text-decoration: 2px underline;
    color: #3f37c9;
}

.home .search{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.home .icons{
    margin-top: 2%;
    display: flex;
    gap: 10%;
}

.home .dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 160px;
    font-size: 15px;
  }

.home .dropdown p{
    width: 100%;
    padding: 5% 0%;
}

.home .dropdown p:hover{
   font-weight: 600;
}

.home .filterbtn:hover .dropdown {
    display: block;
  }

.home input{
  width: 100%;
  padding: 6px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.home .paper a{
    text-decoration: none;
}