.home{
    margin: auto;
    width: 65%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .search{
    margin: 3%;
}

.home .papers{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home .paper{
    margin: 3%;
    padding: 3% 2% 3% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #edecff;
}

.home .paperInfo{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5%;
}

.home .left{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 2%;
}

.home .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin-top: 2%;
}

.home p{
    margin: 2%;
}

.home .read{
    width: 20%;
    background-color: #3f37c9; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.home .read:hover {
    background-color: #8a85e7;
    color: black;
    font-weight: 600;
}

.home .save{
    width: 40%;
    background-color: #edecff; /* Green */
    border: 3px solid #3f37c9;
    color: #3f37c9;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
}

.home h3{
    cursor: pointer;
}

.home h3:hover{
    text-decoration: 2px underline;
    color: #3f37c9;
}

.home .search{
    width: 40%;
    display: flex;
}

.home .filterbtn{
    font-size: large;
    font-size: large;
    background-color: #edecff;
    border: 2px solid black;
    border-radius: 6px;
}

.home .searchbtn{
    font-size: large;
    margin-right: 3%;
    background-color: #edecff;
    border: 2px solid black;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

.home input{
  width: 80%;
  padding: 6px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 6px 0px 0px 6px;
  border-right: none;
  cursor: pointer;
}